<div role="tabpanel" class="tab-pane config-section" id="custom">
	{% set ai_source_regex = Forms.config.CustomSettingsForm.ai_source_regex.kwargs['default'] if ai_source_regex is not defined else ai_source_regex %}
	{% set solver_file_limit = Forms.config.CustomSettingsForm.solver_file_limit.kwargs['default'] if solver_file_limit is not defined else solver_file_limit %}
	{% set solver_total_size_limit = Forms.config.CustomSettingsForm.solver_total_size_limit.kwargs['default'] if solver_total_size_limit is not defined else solver_total_size_limit %}
	{% with form = Forms.config.CustomSettingsForm(
		ai_source_regex=ai_source_regex,
		solver_file_limit=solver_file_limit,
		solver_total_size_limit=solver_total_size_limit,
	) %}
	<form method="POST" autocomplete="off" class="w-100">
		<div class="form-group">
			{{ form.ai_source_regex.label }}
			{{ form.ai_source_regex(class="form-control", value=ai_source_regex or "") }}
			<small class="form-text text-muted">
				{{ form.ai_source_regex.description }}
			</small>
		</div>
		<div class="form-group">
			{{ form.solver_file_limit.label }}
			{{ form.solver_file_limit(class="form-control", value=solver_file_limit) }}
			<small class="form-text text-muted">
				{{ form.solver_file_limit.description }}
			</small>
		</div>
		<div class="form-group">
			{{ form.solver_total_size_limit.label }}
			{{ form.solver_total_size_limit(class="form-control", value=solver_total_size_limit) }}
			<small class="form-text text-muted">
				{{ form.solver_total_size_limit.description }}
			</small>
		</div>

		{{ form.submit(class="btn btn-md btn-primary float-right") }}
	</form>
	{% endwith %}
</div>
